* {
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    background: color #fff7ec;;
}
     /* NAVBAR */
.header {
    height: 120px;
    background-color: #bec3c3ea;
}
.info {
    margin-left: 20px;
    margin-right: 20px;

}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.company {
    text-align: center;
    margin-bottom: 30px;
}
#info {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: black;
}
.first-sec {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 50px;
}
.price {
    margin: 50px;
}
.Genmaicha {
    font-size: 50px;
    margin-bottom: 30px;
}
.tax {
    font-size: 20px;
    margin-bottom: 20px;
}
.add {
    height: 40px;
    width: 65%;
    font-size: 25px;
}
.add:hover {
    background-color: black;
    color: antiquewhite;
}
.traditional {
    font-size: 20px;
    margin-top: 20px;
}
.information {
    margin-top: 30px;
    text-decoration:underline;
    font-size: 30px;
}
.Cultivating {
    text-align: center;
    font: size 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#per {
    font-size: 50px;
}
.harbesting {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 50px;
}

.Holistic {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 50px;
    font-size: 50px;
}
.richin {
    margin: 40px;
    font-size: 22px;
    text-align: center;
}
.with-a {
    margin: 40px;
    font-size: 22px;
    text-align: center;
}
.fourth-sec {
    margin: 40px;
    margin-left: 70px;
}
.perfect-tea {
    text-align: center;
    font-size: 40px;
    margin: 20px;
}
.listitems {
    margin: 20px;
    font-size: 25px;
    list-style: decimal;
    margin-left: 70px;
    line-height: 1.5;
}
.Relish {
    text-align: center;
    font-size: 28px;
    margin: 20px;
}
.fifth-sec {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.checkout {
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.similar-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
   margin: 50px;
}
.tea {
    margin-bottom: 20px;
}
.rate {
    margin-top: 10px;
}
.cart {
    height: 50px;
    width: 70%;
    margin-top: 20px;
    font-size: 20px;
}
.cart:hover {
    background-color: black;
    color: antiquewhite;
}
.QnA {
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.seventh-sec {
    margin: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
.Questions {
    font-size: 25px;
    margin-bottom: 20px;
    text-decoration: underline;
}
.answer {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}
.footer-area-div {
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 50px;
    margin-right: 40px;
    margin-top: 20px;
}
.footer-area {
    background-color: rgb(207, 202,195);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 300px;
} 
.Subscribe {
    font-size: 20px;
    margin-top: 50px;
}
.NEWSLETTER {
    margin-top: 20px;
    margin-bottom: 10px;
}
.logo {
    padding-left: 15px;
}


